{% extends 'base.html' %}


{% block content %}

    {{ super() }}
    <div class="container">
        <div class="page-header">

        </div>
        <div class="panel-body">
            <p>
                <h3>{{ news.title }}</h3>
            </p>
            <p>
                {{ news.date_publish }}
            </p>
            <p>
                {{ news.agency_source }}
            </p>
            <p>
                {{ news.author_source }}
            </p>
        </div>
        <div class="panel-body">
            {{ news.content|safe }}
        </div>
    </div>
{% endblock %}