{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    {{ super() }}
    <!----整体按照选项卡：新闻资讯、案例提交两部分---->
    <div class="container">
        <ul class="nav nav-tabs">
            <li><a href="#news" data-toggle="tab">参考资讯</a></li>
            <li><a href="#case" data-toggle="tab">案例提交</a></li>
        </ul>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="tab-content">
                    <!---新闻部分---->
                    <div class="tab-pane active" id="news">
                        <div class="page-header">
                            <h3>{{ news.title }}</h3>
                            <p>{{ news.author_source }}</p>
                            <p>{{ news.date_publish }}</p>
                            <p>{{ news.agency_source }}</p>
                        </div>
                        <div class="body">
                            {{ news.content|safe }}
                        </div>

                    </div>
                    <!----案例提交部分---->
                    <div class="tab-pane" id="case">
                        <form action method="post" class="form" role="form">
                            <div class="form-horizontal">
                                {{ form.csrf_token }}
                                <div class="form-group">
                                    {{ form.title.label(class="control-label col-md-2") }}
                                    <div class="col-md-4">
                                        {{ form.title(class="form-control",placeholder="案例标题") }}
                                    </div>

                                </div>
                                <div class="form-group">
                                    {{ form.date_start.label }}{{ form.date_start }}
                                </div>
                                <div class="form-group">
                                    {{ form.date_end.label }}{{ form.date_end }}
                                </div>
                                <div class="form-group">
                                    {{ form.province.label }}{{ form.province }}
                                </div>
                                <div class="form-group">
                                    {{ form.city.label }}{{ form.city }}
                                </div>
                                <div class="form-group">
                                    {{ form.county.label }}{{ form.county }}
                                </div>
                                <div class="form-group">
                                    {{ form.persons_involved.label }}{{ form.persons_involved }}
                                </div>
                                <div class="form-group">
                                    {{ form.company_involved.label }}{{ form.company_involved }}
                                </div>
                                <div class="form-group">
                                    {{ form.means_description.label }}{{ form.means_description }}
                                </div>
                                <div class="form-group">
                                    {{ form.victims.label }}{{ form.victims }}
                                </div>
                                <div class="form-group">
                                    {{ form.momeny_involved.label }}{{ form.momeny_involved }}
                                </div>
                                <div class="form-group">
                                    {{ form.agency.label }}{{ form.agency }}
                                </div>
                                <div>
                                    {{ form.courts.label }}{{ form.courts }}
                                </div>
                                <div>
                                    {{ form.sentence.label }}{{ form.sentence }}
                                </div>
                                <div>
                                    {{ form.keywords.label }}{{ form.keywords }}
                                </div>

                                <input type="submit" value="submit">
                            </div>

                        </form>
                    </div>
            </div>
            </div>

        </div>
    </div>


{% endblock %}