{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import '_macros.html' as macros %}

{% block content %}
    {{ super() }}
    <div class="container">
    <!---搜索框--->
        <div class="row">
            <div class="col-sm-4">
                {{ wtf.quick_form(form) }}

            </div>

        </div>
    <!--列表开始-->
        <div class="row">
            <div class="col-lg-4">
                 <div class="panel-body">
                {% if news_list %}
                    <ul class="news-list">
                        <!----新闻列表--->
                        {% for news in news_list %}
                            <p>
                                <a href="{{ url_for('main.news_detail',id=news.id) }}">{{ news.title }}</a>
                            </p>
                            <p>
                                <a href="{{ url_for('main.deleteNews',id=news.id) }}">删除</a>
                            </p>
                            <p>
                                {{ news.date_publish }}
                            </p>
                        {% endfor %}
                    </ul>
                    <div class="pagination">
                        {{ macros.pagination_widget(pagination,'main.news') }}
                    </div>
                </div>

                 {% endif %}
            </div>
        </div>

    </div>

{% endblock %}