{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8"></div>
            <div class="row">
                <div class="page-header"><h3>基本信息</h3></div>
                <table class="table table-hover table-striped">
                    <tr>
                        <td><strong>注册资金</strong></td>
                        <td>{{ platform.registeredCapital }}</td>
                        <td><strong>平台背景</strong></td>
                        <td>{{ platform.backGround }}</td>
                    </tr>
                    <tr>
                        <td><strong>上线时间</strong></td>
                        <td>{{ platform.dateSale }}</td>
                        <td><strong>风险准备金</strong></td>
                        <td>{{ platform.provisionOfRisk }}</td>
                    </tr>
                    <tr>
                        <td><strong>所在地区</strong></td>
                        <td>{{ platform.area }}</td>
                        <td><strong>资金托管</strong></td>
                        <td>{{ platform.foundCustodian }}</td>
                    </tr>
                    <tr>
                        <td><strong>平台网址</strong></td>
                        <td>{{ platform.url }}</td>
                        <td><strong>保障方式</strong></td>
                        <td>{{ platform.safeguardWay }}</td>
                    </tr>
                    <tr>
                        <td><strong>起投金额</strong></td>
                        <td>{{ platform.startMoney }}</td>
                        <td><strong>债权转让</strong></td>
                        <td>{{ platform.assignmentOfDebt }}</td>
                    </tr>
                    <tr>
                        <td><strong>管理费</strong></td>
                        <td>{{ platform.managementFee }}</td>
                        <td><strong>自动投标</strong></td>
                        <td>{{ platform.automaticBidding }}</td>
                    </tr>
                    <tr>
                        <td><strong>取现费</strong></td>
                        <td>{{ platform.cashTakingFee }}</td>
                        <td><strong>提现到账时间</strong></td>
                        <td>{{ platform.cashTime }}</td>
                    </tr>

                    {% if company %}
                        <tr>
                            <td><strong>公司名称</strong></td>
                            <td>{{ company.companyName }}</td>
                            <td><strong>法人代表</strong></td>
                            <td>{{ company.legalRepresentative }}</td>
                        </tr>
                        <tr>
                            <td><strong>QQ</strong></td>
                            <td>{{ company.QQ }}</td>
                            <td><strong>客服电话</strong></td>
                            <td>{{ company.phoneCustomer }}</td>
                        </tr>
                        <tr>
                            <td><strong>联系地址</strong></td>
                            <td>{{ company.address }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><strong>平台特色</strong></td>
                            <td>{{ company.noteSpecial|safe }}</td>
                            <td></td>
                            <td></td>
                        </tr>

                    {% endif %}

                    </table>
            </div>
            <div class="row">
                <ul class="nav nav-tabs" id="myTab">
                    <li><a href="#onPlatform" data-toggle="tab">平台简介</a></li>
                    <li><a href="#onPerson" data-toggle="tab">高管团队</a></li>
                    <li><a href="#onProduct" data-toggle="tab">最新产品</a></li>
                    <li><a href="#onReview" data-toggle="tab">网友评论</a></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="onPlatform">
                        {{ platform.abstract|safe }}
                    </div>
                    <div class="tab-pane" id ="onPerson">
                        {{ person.abstracts|safe}}
                    </div>
                    <div class="tab-pane" id="onReview">
                        <p>评论列表</p>
                    </div>
                    <div class="tab-pane" id="onProduct">
                        <table class="table table-hover">
                            {% for p in products %}
                            <tr class="product">
                                <td><p>{{ p.name }}</p></td>
                                <td><p>年化{{ p.annualizedReturn }}</p></td>
                                <td><p>{{ p.cycle }}个月</p></td>
                                <td><p>{{ p.remainAmount }}</p></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
            </div>

            </div>
            <div class="col-lg-2"></div>
        </div>

    </div>
{% endblock %}

